*{
    padding:0;
    margin:0;
}

body{
    background-image:url('bg.jpg');
    font-family: sans-serif;
    color:white; 
}

.main-div{
    background-color:rgba(0, 0, 0, 0.8);
    padding:50px;
    width:100%;
    height:100vh;
    
}

h1{
    text-align:center;
}


.flex-box{
    display: flex;
    justify-content:center;
}
.flex-box .calculation{
    width:800px;
    border:1px solid red;
    border-radius:30px;
    padding:30px;
    margin-top:30px;
}

input{
    padding:8px;
    width:40px;
}

button{
    border:none;
    padding:10px;
    font-weight:bold;
    border-radius:5px;
    background-color:rgb(252, 175, 33);
    margin-top:20px;
}

.inflation-text{
    margin-top:20px;
}